@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.sidebar div {
  background-color: black !important;
  color: white !important;
}

.sidebar div svg {
  fill: white !important;
}

.sidebar div svg:hover {
  fill: black !important;
}